# Ignorar arquivos e diretórios da IDE
.vs/
*.vs/

# Ignorar arquivos binários e de compilação
**/bin/
/obj/

# Ignorar arquivos temporários e de debug
*.tmp
*.log
*.user
*.suo
*.ncb
*.sdf
*.opensdf
*.cache
*.dbmdl
*.dbproj
*.suo
*.userosscache
*.userprefs
*.csproj.user
*.pdb
*.apk
*.dll

# Ignorar arquivos específicos
APP_POO/bin/
APP_POO/obj/
Projeto-POO/APP_POO/APP_POO/bin/Debug/net8.0-windows/APP_POO.dll
Projeto-POO/APP_POO/APP_POO/bin/Debug/net8.0-windows/APP_POO.exe
Projeto-POO/APP_POO/APP_POO/bin/Debug/net8.0-windows/APP_POO.pdb
Projeto-POO/APP_POO/APP_POO/bin/Debug/net8.0-windows/pt-BR/APP_POO.resources.dll
